*{
    background-color: lightpink;
}

.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr; /*columnas que queremos que tenga*/
    grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr; /*filas con cada tamaño*/
    grid-template-areas: /*aquí le decimos qué va a ocupar qué*/
    "nav nav nav nav"
    "sidebar main main main"
    "sidebar content1 content2 content3"
    "sidebar footer footer footer";
    grid-gap: 0.2rem;
}

/*aqui llamamos a todos los elementos*/
nav{
    background: lightblue;
    grid-area: nav; /*referenciamos el nav para que concuerde*/
}

main{
    background: lightcyan;
    grid-area: main;
}

#sidebar{
    background: lightgoldenrodyellow;
    grid-area: sidebar;
}

#content1{
    background: lightgrey;
    grid-area: content1;
}

#content2{
    background: lightseagreen;
    grid-area: content2;
}

#content3{
    background: lightyellow;
    grid-area: content3;
}

footer{
    background: lightsalmon;
    grid-area: footer;
}