/*banner*/
body{
    padding: 0;
    margin: 0;
    background-color: #FFFFFF;
    font-family: Arial;
    
}

.banner-log{
    height: 60px;
    width: 100%;
    background-color: #005D9C;
    display: inline-flex;
    align-content: center;
    
}

.img-banner{    
    border-color:white 1px;
    background-color: aliceblue;
}

.title-banner{
    padding-top: 20px;
    margin-left: 30px;
    font-size:medium;
    font-style: normal;
      
}


/*formulario pagina inicial*/
.container h2{
    position: absolute;
    left: 40.11%;
    right: 40.2%;
    top: 2em;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 39px;
    text-align: center;

    color: #303087;
    
}

.container-info{
    position: absolute;
    left: 4.07%;
    right: 4.17%;
    top: 21.69%;
    bottom: 7.97%;

    background: #E7E6EA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.container-info h1{
    position: absolute;
    left: 40.44%;
    right: 40.44%;
    top: 4.57%;
    bottom: 92.76%;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 19px;
    text-align: center;

    color: #000000;

}

/*Container con gráficos e información*/
.container-graficos{
    position: absolute;
    left: 6.79%;
    right: 6.79%;
    top: 21.58%;
    bottom: 50.67%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 1em;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 28px;

    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
    text-align: center;

    color: #303087; /*si dejo este color aquí, se van a aplicar a las letras de los gráficos luego*/
}






/*Cuadros grises de los gráficos*/
.container-hora{
    position: absolute;
    left: 10.75%;
    right: 78.75%;
    top: 3em;
    bottom:1em;

    background: rgba(195, 197, 202, 0.38);
    border-radius: 28px;

    padding-top: 3em;
    padding-bottom: 3em;

    

    
}

.container-porc-ocup{
    position: absolute;
    left: 27.48%;
    right: 62.02%;
    top: 3em;
    bottom:1em;

    background: rgba(195, 197, 202, 0.38);
    border-radius: 28px;

    padding-top: 3em;
    padding-bottom: 3em;
    
}

.container-canti{
    position: absolute;
    left: 44.71%;
    right: 44.79%;
    top: 3em;
    bottom:1em;

    background: rgba(195, 197, 202, 0.38);
    border-radius: 28px;

    padding-top: 3em;
    padding-bottom: 3em;
}

.container-resumen{
    position: absolute;
    left: 60.46%;
    right: 29.04%;
    top: 3em;
    bottom:1em;

    background: rgba(195, 197, 202, 0.38);
    border-radius: 28px;

    padding-top: 3em;
    padding-bottom: 3em;
}

.container-porc-cumpli{
    position: absolute;
    left: 77.19%;
    right: 12.31%;
    top: 3em;
    bottom:1em;

    background: rgba(195, 197, 202, 0.38);
    border-radius: 28px;

    padding-top: 3em;
    padding-bottom: 3em;
}


.container-info label{
    position: absolute;
    left: 41.26%;
    right: 41.37%;
    top: 60.61%;
    bottom: 10.67%;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 19px;
    text-align: center;
    color: #000000;
}

/*-----------Botones------------*/

.container-info .boton_RA{
    position: absolute;
    left: 23.05%;
    right: 65.6%;
    top: 76.22%;
    bottom: 18.85%;
    align-items: stretch;
    align-self: center;
    height: 2.7em;
    width:11em;
    background: #D3D924;
    border-radius: 4px;
    border: #D3D924;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.container-info .boton_CA{
    position: absolute;
    left: 37.98%;
    right: 51.64%;
    top: 76.22%;
    bottom: 18.85%;
    align-items: stretch;
    align-self: center;
    height: 2.7em;
    width:11em;
    background: #D3D924;
    border-radius: 4px;
    border: #D3D924;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.container-info .boton_TA{
    position: absolute;
    left: 52.01%;
    right: 35.48%;
    top: 76.22%;
    bottom: 18.85%;
    align-items: stretch;
    align-self: center;
    height: 2.7em;
    width:11em;
    background: #D3D924;
    border-radius: 4px;
    border: #D3D924;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.container-info .boton_RD{
    position: absolute;
    left: 68.17%;
    right: 21.45%;
    top: 76.22%;
    bottom: 18.85%;
    align-items: stretch;
    align-self: center;
    height: 2.7em;
    width:11em;
    background: #D3D924;
    border-radius: 4px;
    border: #D3D924;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

