*{
    margin: 0%; 
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    background-color: #fff;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 2fr 0.5fr;
}
.seccion-banner{
    display: grid;
    grid-template-columns: 0.1fr 0.6fr 1.5fr 0.3fr 0.3fr;
    grid-template-rows: 1fr;
    background-color: #005D9C;
    color: #fff;
}
.title-banner{
    display: flex;
    align-items: center;
    margin-left: 30px;
    font-size:medium;
}
.seccion-btns-sup{
    display: flex;
    flex-direction: row;
    margin-right: 8px;
}

.boton-sup{
    align-self: center;
    height: 2.7em;
    width:11em;
    margin-left: 1em;
    background: #C3C5CA;
    border-radius: 4px;
    border: #C3C5CA;
    cursor: pointer;
    transition: background-color 0.7s;
}
.boton-sup:hover{
    background-color: #D3D924;
}
.seccion-perfil{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;   
}
.seccion-perfil:hover{
    opacity: 0.9; 
}
.cerrar-sesion{
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
}
.cerrar-sesion:hover{
    opacity: 0.9; 
}
@media (max-width:1160px){
    .boton-sup{
        height: 2.7em;
        width:9em;
        margin-left: 0.5em;
    }
    .seccion-perfil{
        padding-left: 10px;
    }
    .cerrar-sesion{
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
}

.container-datos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    margin-top: 50px;
    width: 50%;
    background: #E7E6EA;
    color: #fff;
    padding-bottom: 4em;
}
.title2{
    background-color: #252e71;
    font-size:larger;
    font-weight: 600;
    padding-bottom: 1em;
    padding-top: 1em;
    text-align:center;
    width: 100%;
}
.container-formulario{
    width: 60%;
    margin-top: 20px;
    color: #000;   
}
.form-group{
    align-items: center;
    color: #000;
    display: flex;
    flex-direction: column;
    margin-top: 1.3em;
    font-size: large;
}
.container-datos input{
    width: 395px;
    background: #F3F3F3;
    border: 0.2px solid #000;
    border-radius: 3px;
    color:#000;
    height: 2em;
    margin-top: 7px;
}
.container-datos select{
    width: 400px;
    height: 2em;
    color:rgb(95, 95, 95);
    background: #F3F3F3;
    border: 0.2px solid #000;
    border-radius: 3px;
    margin-top: 7px;
}

.container-button{
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding: 10px;
}
.boton-crear{
    height: 2.7em;
    width:11em;
    margin-top: 3em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: #D3D924;
    border-radius: 4px;
    border:#D3D924;
    cursor: pointer;
    transition: background-color 0.7s;
}
.boton-crear:hover{
    background-color:#E8BA20;
}
