*{
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    background-color: #fff;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.1fr 2fr 0.1fr;
}
.seccion-banner{
    display: grid;
    grid-template-columns: 0.1fr 0.6fr 1.5fr 0.3fr 0.3fr;
    grid-template-rows: 1fr;
    background-color: #005D9C;
    color: #fff;
}
.title-banner{
    display: flex;
    align-items: center;
    margin-left: 30px;
    font-size:medium;
}
.seccion-btns-sup{
    display: flex;
    flex-direction: row;
    margin-right: 8px;
}
.boton-sup{
    align-self: center;
    height: 2.7em;
    width:11em;
    margin-left: 1em;
    background: #C3C5CA;
    border-radius: 4px;
    border: #C3C5CA;
    cursor: pointer;
    transition: background-color 0.7s;
}
.boton-sup:hover{
    background-color: #D3D924;
}
.seccion-perfil{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;   
}
.seccion-perfil:hover{
    opacity: 0.9; 
}
.seccion-perfil label{
    cursor: pointer;
}
.cerrar-sesion{
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
}
.cerrar-sesion:hover{
    opacity: 0.9; 
}
.cerrar-sesion label{
    cursor: pointer;
}
@media (max-width:1160px){
    .boton-sup{
        height: 2.7em;
        width:9em;
        margin-left: 0.5em;
    }
    .seccion-perfil{
        padding-left: 10px;
    }
    .cerrar-sesion{
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
}
/*------------------------------------------------------------------------*/
.seccion-titulo-inicial{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #303087;
    font-size: 15px;
    margin: 2em;
}
.seccion-datos{
    color: #000;
    display: grid;
    grid-template-columns: 2fr 0.3fr;
    font-size: large;
}
.seccion_tabla{
    background-color: darksalmon;
    margin: 2em;
}
.tabla-registrar-act th{
    color: #fff;
    border-bottom: 4px solid #9ea7af;
    padding: 10px;
    background-color: #252E71;
}
.tabla-registrar-act{
    border-collapse: collapse;
    background-color: #C3C5CA;
    width:100%;
    text-align: center;
    border-bottom:1px solid rgb(95, 95, 95);
    margin-left: 1em;
}
.tabla-registrar-act td{  
    border-right: 1px solid rgb(95, 95, 95);    
}
.tabla-registrar-act td.botones-tabl{
    align-items: flex-start;
    display: flex;
}
.tabla-registrar-act td button{
    background: #D3D924;
    border-radius: 4px;
    border: #D3D924;
    margin: 5px;
    cursor: pointer;
    padding: 5px;
    text-align: center;
}

/*cada vez que se cree un dato debe crearse con el diseño del botón
el dato viene de la pag crear actividad*/


.seccion-btnsYfiltro{
    display: grid;
    grid-template-rows: 0.5fr 0.3fr 1fr;
}
.seccion-btns-der{
    margin: 2em;
    display: flex;
    flex-direction: column;
}
/*-----------------botones seccion derecha--------------------*/
.btn-todos{
    align-self: center;
    height: 2.7em;
    width:11em;
    margin-top: 10px;
    background: #E8BA20;
    border-radius: 4px;
    border: #C3C5CA;
    cursor: pointer;
    transition: background-color 0.7s;
}
.btn-todos:hover{
    background-color: #D3D924;
}
.btn-ajenos{
    align-self: center;
    height: 2.7em;
    width:11em;
    margin-top: 10px;
    background: #E8BA20;
    border-radius: 4px;
    border: #C3C5CA;
    cursor: pointer;
    transition: background-color 0.7s;
}
.btn-ajenos:hover{
    background-color: #D3D924;
}
.btn-propios{
    align-self: center;
    height: 2.7em;
    width:11em;
    margin-top: 10px;
    background: #E8BA20;
    border-radius: 4px;
    border: #C3C5CA;
    cursor: pointer;
    transition: background-color 0.7s;
}
.btn-propios:hover{
    background-color: #D3D924;
}
.btn-noRealizados{
    align-self: center;
    height: 2.7em;
    width:11em;
    margin-top: 10px;
    background: #E8BA20;
    border-radius: 4px;
    border: #C3C5CA;
    cursor: pointer;
    transition: background-color 0.7s;
}
.btn-noRealizados:hover{
    background-color: #D3D924;
}
.btn-realizados{
    align-self: center;
    height: 2.7em;
    width:11em;
    margin-top: 10px;
    background: #E8BA20;
    border-radius: 4px;
    border: #C3C5CA;
    cursor: pointer;
    transition: background-color 0.7s;
}
.btn-realizados:hover{
    background-color: #D3D924;
}
/*------------------------------filtro-----------------------------*/
.seccion-filtro{
    justify-self: center;
    text-align: center;
    margin-top: 1em;
}

.seccion-filtro select{
    width: 200px;
    height: 2em;
    color:rgb(95, 95, 95);
    background: #F3F3F3;
    border: 0.1px solid;
    border-radius: 3px;
    margin-top: 10px;
    border-color: #9ea7af;
}
.filtrar-cliente{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn-filtrar{
    height: 2.7em;
    width:11em;
    margin-top: 10px;
    background: #D3D924;
    border-radius: 4px;
    border: #C3C5CA;
    cursor: pointer;
    transition: background-color 0.7s;
}
.btn-filtrar:hover{
    background-color:#15C0F2
}

/*-------------------------------PRUEBA MODAL INFORMACIÓN ACTIVIDAD------------------------------------------------*/

.modal_info_act{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top:0;
    left: 0;
    background-color: rgba(0, 0,0,0.3);
    height: 100%;
    width: 100%;
    opacity: 0;                                         /*OJOOO-------------*/
    pointer-events: none;
    transition: opacity 0.3s ease;
}
.modal_info_act.show{
    pointer-events: auto;
    opacity: 1;
}
.modal-info{
    background-color:#fff;
    width: 50%;                     /*OJOOO-------------*/
    height: 65%;
    padding: 20px 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 27px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    
}
.modal-info::-webkit-scrollbar{
    width: 10px;
}
.modal-info::-webkit-scrollbar-thumb{
    background: #005D9C;
    border-radius: 10px;
}
.modal-info h2{
    color: #303087;
    font-size: large;
    margin-right: 15px;    
}
.sec-titulo-lupa{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}
/*-----------------------------INFORMACIÓN EN SECCIÓN GRIS del modal----------------------------*/
.sec-info-indv{
    background-color: #E4E3E3;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width: 80%;
    padding:10px;
    
}
.sec-btns-act{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}
.sec-tabla-info{
    background-color: #E4E3E3;
    width: 60%;
    border-radius: 5px;
    border: 1px #000;
}
.tabla-inf-act{
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}
.tabla-inf-act th{
    border: 1px solid #000;
}
.tabla-inf-act td{
    border: 1px solid #000;
}

/*BOTONES INFO ACTIVIDAD-----------------------------------------------------------*/
.btn-observaciones{
    align-self: center;
    height: 2.7em;
    width:10em;
    margin-top: 20px;
    background:#E8BA20;
    border-radius: 4px;
    border: #C3C5CA;
    cursor: pointer;
    transition: background-color 0.7s;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: medium;
}
.btn-observaciones:hover{
    background-color: #15C0F2;
}
.btn-editar-inf{
    align-self: center;
    height: 2.7em;
    width:10em;
    margin-top: 20px;
    background:#E8BA20;
    border-radius: 4px;
    border: #C3C5CA;
    cursor: pointer;
    transition: background-color 0.7s;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: medium;
}
.btn-editar-inf:hover{
    background-color: #15C0F2;
}
.btn-marcar-re{
    align-self: center;
    height: 3em;
    width:10em;
    margin-top: 20px;
    background:#D3D924;
    border-radius: 4px;
    border: #C3C5CA;
    cursor: pointer;
    transition: background-color 0.7s;
    white-space: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: medium;
}
.btn-marcar-re:hover{
    background-color: #15C0F2;
}


/*BOTON CONFIRMAR--------------------------*/
.btn-modal{
    align-self: center;
    height: 2.7em;
    width:8em;
    margin-top: 30px;
    background:#D3D924;
    border-radius: 4px;
    border: #C3C5CA;
    cursor: pointer;
    transition: background-color 0.7s;
}
.btn-modal:hover{
    background-color: #15C0F2;
}

/*-------------------------------PRUEBA MODAL OBSERVACIÓN------------------------------------------------*/
/*
.cerrar-modal h3{
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    color: #005D9C;
    margin-bottom: 10px;
}*/
.modal_hacer_obsr{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top:0;
    left: 0;
    background-color: rgba(0, 0,0,0.3);
    height: 100%;
    width: 100%;
    opacity: 0;                                         /*OJOOO-------------*/
    pointer-events: none;
    transition: opacity 0.3s ease;
}
.modal_hacer_obsr.show{
    pointer-events: auto;
    opacity: 1;
}
.modal-obser{
    background-color:#fff;
    width: 30%;
    height: 30%;
    padding: 20px 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 27px;
    display: flex;
    flex-direction: column;    
}
.modal-obser h2{
    color: #303087;
    font-size: large;
    margin-right: 15px;    
}

.sec-titulo-obser{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 15px;
}
.sec-filtro-obs{
    justify-self: center;
    text-align: center;
    margin: 1em;
}

.sec-filtro-obs select{
    width: 100%;
    height: 2em;
    color:rgb(95, 95, 95);
    background: #F3F3F3;
    border: 0.2px solid #000;
    border-radius: 3px;
    margin-top: 10px;
}

/*botón*/
.btn-guardar-obser{
    align-self:center;
    height: 2.7em;
    width:8em;
    margin-top: 50px;
    background:#D3D924;
    border-radius: 4px;
    border: #C3C5CA;
    cursor: pointer;
    transition: background-color 0.7s;
}
.btn-guardar-obser:hover{
    background-color: #15C0F2;
}



/*-------------------------------PRUEBA MODAL EDITAR INFORME------------------------------------------------*/
.modal_edit_inf{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top:0;
    left: 0;
    background-color: rgba(0, 0,0,0.3);
    height: 100%;
    width: 100%;
    opacity: 0;                                         /*OJOOO-------------*/
    pointer-events: none;
    transition: opacity 0.3s ease;
}
.modal_edit_inf.show{
    pointer-events: auto;
    opacity: 1;
}
.modal-editar{
    background-color:#fff;
    width: 40%;
    height: 75%;
    padding: 20px 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 27px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal-editar h2{
    color: #303087;
    font-size: large;
    margin-right: 10px;    
}
.sec-titulo-edit{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}
.form-group-edit{
    align-items: center;
    color: #000;
    display: flex;
    flex-direction: column;
    margin-top: 1.2em;
    font-size: large;
}
.sec-datos-editar input{
    width: 395px;
    background: #F3F3F3;
    border: 0.2px solid #000;
    border-radius: 3px;
    color:#000;
    height: 2em;
    margin-top: 7px;
}
.sec-datos-editar select{
    width: 400px;
    height: 2em;
    color:rgb(95, 95, 95);
    background: #F3F3F3;
    border: 0.2px solid #000;
    border-radius: 3px;
    margin-top: 7px;
}
.btn-guardar-edit{
    align-self:center;
    height: 2.7em;
    width:8em;
    margin-top: 50px;
    background:#D3D924;
    border-radius: 4px;
    border: #C3C5CA;
    cursor: pointer;
    transition: background-color 0.7s;
}
.btn-guardar-edit:hover{
    background-color: #15C0F2;
}
