/*banner*/
body{
    padding: 0;
    margin: 0;
    background-color: #FFFFFF;
    font-family: Arial;
    
}

.banner-log{
    height: 60px;
    width: 100%;
    background-color: #005D9C;
    display: inline-flex;
    align-content: center;
    
}

.img-banner{    
    border-color:white 1px;
    background-color: aliceblue;
}

.title-banner{
    padding-top: 20px;
    margin-left: 30px;
    font-size:medium;
    font-style: normal;
      
}


/*-----------formulario pagina inicial gris----------*/

.container h2{
    position: absolute;
    left: 40.11%;
    right: 40.2%;
    top: 2em;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 39px;
    text-align: center;
    color: #303087;
    
}

.container-info{
    position: absolute;
    left: 4.07%;
    right: 4.17%;
    top: 21.69%;
    bottom: 7.97%;
    background: #E7E6EA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.container-info h1{
    position: absolute;
    left: 40.44%;
    right: 40.44%;
    top: 4.57%;
    bottom: 92.76%;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 19px;
    text-align: center;
    color: #000000;

}

/*-------Container con gráficos e información blanco-------*/
.container-graficos{
    /*barra en sí*/
    position: absolute;
    left: 6.79%;
    right: 6.79%;
    top: 21.58%;
    bottom: 50.67%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 28px;

    /*texto*/
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 1em;
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;

    color: #303087; /*si dejo este color aquí, se van a aplicar a las letras de los gráficos luego*/
}

/*PRUEBA DIV TITULO*/
.titulo{
    height: 150px ;
    width: 250px;
}

/*PRUEBA DE CUADROS----------------------*/
.cuadros-grises{
    position: relative;   
    top: 15px; 
    height: 80%;
    background: rgba(195, 197, 202, 0.38);
    border-radius: 28px;
}
/*-------------------------------*/

.container-info label{
    position: absolute;
    left: 41.26%;
    right: 41.37%;
    top: 60.61%;
    bottom: 10.67%;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 19px;
    color: #000000;
}



/*-----------Botones------------*/

.botones-opcs{
    position: relative;
    top: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.boton-opcs{
    align-items: stretch;
    align-self: center;
    height: 2.7em;
    width:11em;
    background: #D3D924;
    border-radius: 4px;
    border: #D3D924;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
    transition: background-color 0.7s;
}
.boton-opcs:hover{
    background-color:#E8BA20;
}




