*{
   margin: 0%; 
   font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0.01fr 0.25fr 1.8fr 0.2fr;
    background-color: #fff;
}

.seccion-banner{
    display: grid;
    grid-template-columns: 0.1fr 2fr 0.2fr 0.3fr;
    background-color: #005D9C;
    color: #fff;
}

.title-banner{
    display: flex;
    align-items: center;
    margin-left: 30px;
    font-size:medium;
}

.seccion-perfil{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;   
}
.seccion-perfil:hover{
    background-color:#303087;
    opacity: 0.8; 
}

.cerrar-sesion{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1em;
    padding-right: 1em;
    cursor: pointer;
}
.cerrar-sesion:hover{
    background-color:#303087;
    opacity: 0.8; 
}

.seccion-titulo-inicial{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    color: #303087;
    font-size: 30px;
}

.container-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    background: #E7E6EA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color: #000000;
    margin: 20px;
}
.container-graficos{
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 1fr;    
    width: 95%;
    height: 50%;
    margin: 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 28px;
    justify-items: center;
    margin-bottom: 60px;
    
}
.titulo{
    text-align: center;
    font-size: 18px;
    color: #303087; 
    font-weight: bold;
}

.cuadro-hora-ocup{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(195, 197, 202, 0.38);
    border-radius: 30px;
    width: 80%; 
    height: 80%;
    
}
.cuadro-porc-ocup{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(195, 197, 202, 0.38);
    border-radius: 30px;
    width: 80%; 
    height: 80%;
    
}
.cuadro-cant-inform{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(195, 197, 202, 0.38);
    border-radius: 30px;
    width: 80%; 
    height: 80%;
    
}
.cuadro-resum-informes{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(195, 197, 202, 0.38);
    border-radius: 30px;
    width: 80%; 
    height: 80%;
    
}
.cuadro-porc-cumpl{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(195, 197, 202, 0.38);
    border-radius: 30px;
    width: 80%; 
    height: 80%;
    
}

.botones-opcs{
    margin-top: 70px;
    background: #E7E6EA;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 30px;
}
.boton-opcs{
    height: 2.7em;
    width:11em;
    background: #D3D924;
    border-radius: 4px;
    border: #D3D924;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
    transition: background-color 0.7s;
}
.boton-opcs:hover{
    background-color:#E8BA20;
}

