*{
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0.01fr 0.25fr 1fr;
}

.seccion-banner{
    display: inline-flex;
    align-content: center;
    align-items: center;
    background-color: #005D9C;
}

.title-banner{
    margin-left: 30px;
    font-size:medium;
}

.espacio{
    background-color: #fff;
}

.area-form{
    background-color: #fff;
    display: flex;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
}

.login-form{
    width: 500px;
    height: 400px;
    background: #E7E6EA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 27px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form h4{
    margin-top: 25px;
    font-size: 25px;
    color: #303087;
}

.icono-spaceship{
    margin-top: 1.5em;
}

label {            
    text-align: right;
    margin-top: 30px;
    position: relative;
    top: 10px;
    color: black;
    margin-right: 1em;
}

.clave{
    display: flex;
    align-self: flex-end;
    align-items: center;
}

.area-texto{
    height: 25px;
    width: 250px;
    box-sizing: border-box;
    margin-top: 30px;
    position: relative;
    top: 10px;    
}

.org-boton{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.boton-submit{
    margin-top: 15px;
    background: #D3D924;
    border:#D3D924;
    border-radius: 4px;
    width: 100px;
    height: 35px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
    transition: background-color 0.7s;
}

.boton-submit:hover{
    background-color:#E8BA20;
}











